<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-['helvetica_now_display']">
    <nav class="w-full flex justify-between items-center px-5 py-3 bg-white/80 backdrop-blur shadow-md">
        <h3 class="text-3xl font-black tracking-tight font-['Montserrat','Arial','sans-serif'] text-[#212121] select-none">
            <span class="text-[#2874f0]">Bag</span><span class="text-yellow-500">Wagon</span>
        </h3>
        <h5 class="text-base md:text-lg font-normal text-gray-700 italic font-['Montserrat','Helvetica_Now_Display','sans-serif'] border-l-4 border-blue-400 pl-4 ml-2">
            "Bags That Speak Your Style. Pack It. Sling It. Own It."
        </h5>
        <% var isloggedin=typeof isloggedin !=="undefined"?isloggedin:true  %>
     <% if(isloggedin){ %>
<div class="flex gap-5">
            <a href="/shop">Shop</a>
            <a href="/cart">Cart</a>
            <a href="/account">My Account</a>
            <a class="text-red-600" href="/users/logout">Logout</a>
        </div>

        <% } %>
        
    </nav>